* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

/*------------------VIDEO-------------------*/
/*------------------VIDEO-------------------*/
/*------------------VIDEO-------------------*/

.video {
    width: 100vw;
    height: 600px;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.video video {
    width: 100%;
    height: 100%;
    object-position: 0% 40%;
    object-fit: cover;
    filter: blur(10px);
    background-color: black;
    opacity: 2.0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

/*-------------------------HEADER-----------------------*/
/*-------------------------HEADER-----------------------*/
/*-------------------------HEADER-----------------------*/

.header {
    width: 100vw;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header-1 {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hea {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hea img {
    width: 3rem;
    height: auto;
    margin-right: 0.5rem;
}

.hea p {
    font-size: 20px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    margin: 0;
}

.divide {
    width: 2px;
    height: 50px;
    background-color: white;
    margin: 0 2rem;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 40px;
    white-space: nowrap;
}

.header-1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    position: relative;
}

.header-1 a::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.header-1 a:hover::after {
    width: 100%;
}

.login {
    margin-left: auto;
    padding-left: 20px;
}

.login svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #ffffff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media (max-width: 1024px) {
    .nav-links {
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav-links {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .header-1 {
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 999;
        gap: 0;
    }

    .nav-links.active {
        display: flex;
        align-items: center;
    }

    .nav-links a {
        padding: 1rem;
        text-align: center;
        margin: 0;
    }

    .menu-toggle {
        display: flex;
    }
    .hea {
        flex-grow: 1;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .hea img {
        width: 2.5rem;
    }

    .hea p {
        font-size: 18px;
    }
    .divide {
        display: none;
    }

    .login {
        margin-left: 0;
    }
}

/*-------------------SOB-VIDEO---------------------*/
/*-------------------SOB-VIDEO---------------------*/
/*-------------------SOB-VIDEO---------------------*/

.sob-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    z-index: 2;
    color: white;
    letter-spacing: 1.6px;
}

.sob-video-text {
    margin-bottom: 20px;
}

.sob-video-texto {
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 600 !important;
}

.button-geo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.but {
    display: flex;
    width: auto;
    font-size: 16px;
    border: 1px solid white;
    padding: 12px 24px;
    background: transparent;
    transition: 0.5s;
}

.but a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 600;

}

.but:hover {
    background: rgba(255, 255, 255, 0.3);
}

/*----------------------------1-GEO----------------------------*/
/*----------------------------1-GEO----------------------------*/
/*----------------------------1-GEO----------------------------*/
/*----------------------------1-GEO----------------------------*/

.geo-1 {
    width: 100%;
    height: 70%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.geo-1-div {
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
    font-size: 30px;
    letter-spacing: 2px;
}

.geo-1-explica {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
}

.geo-1-explica-texto {
    width: 40%;
    margin: auto;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    padding-top: 20px;
}

.geo-1-explica-img {
    width: 40%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.geo-1-explica-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*----------------------------GEO-FUNCIONAMENTO----------------------------*/
/*----------------------------GEO-FUNCIONAMENTO----------------------------*/
/*----------------------------GEO-FUNCIONAMENTO----------------------------*/
/*----------------------------GEO-FUNCIONAMENTO----------------------------*/

.geo-funciona {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.geo-funciona-titulo {
    text-align: center;
    letter-spacing: 2px;
    color: black;
}

/*--------------CARD---------------*/
/*--------------CARD---------------*/

.geo-funciona-card {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.geo-funciona-card1 {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 33%;
    text-align: left;
    font-size: 17px;
}

.geo-funciona-card1 i {
    font-size: 3rem;
    margin-bottom: 15px;
}

.geo-funciona-card1 .fa-location-dot,
.geo-funciona-card1 .fa-map {
    font-size: 3.5rem;
    margin-left: 30px;
}

.geo-funciona-card1 .fa-laptop,
.geo-funciona-card1 .fa-pen {
    font-size: 3.5rem;
    margin-left: 30px;
}

.geo-funciona-card1 .fa-database {
    font-size: 3.5rem;
}

/*----------------------------GEO-TECNOLOGIAS----------------------------*/
/*----------------------------GEO-TECNOLOGIAS----------------------------*/
/*----------------------------GEO-TECNOLOGIAS----------------------------*/
/*----------------------------GEO-TECNOLOGIAS----------------------------*/

.geo-tech {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.geo-tech-titulo {
    width: 80%;
    margin: auto;
    padding: 20px;
    padding-top: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
}

.geo-tech-h1-titulo {
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 3.0px;
}

/*----------------------------ACORDION----------------------------*/
/*----------------------------ACORDION----------------------------*/

.geo-tech-acordion {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 80px;
}

.geo-tech-content {
    padding: 10px;
    margin-top: 20px;
    line-height: 1.9;
    color: white;
    font-size: 18px;
    letter-spacing: 1.6px;
    transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
}

details {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
}

summary {
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    transition: 0.5s;
}

summary:hover {
    background-color: #222;
}

/*----------------------------GEO-APLICAÇÕES----------------------------*/
/*----------------------------GEO-APLICAÇÕES----------------------------*/
/*----------------------------GEO-APLICAÇÕES----------------------------*/
/*----------------------------GEO-APLICAÇÕES----------------------------*/

.geo-aplica {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
}

.geo-aplica-acordion {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 80px;
    padding-top: 20px;
    margin: auto;
}

.geo-aplica-h1-titulo {
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 3.0px;
}

.geo-aplica-titulo {
    width: 40%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: black;
    padding-top: 20px;
}

.geo-aplica-content {
    padding: 10px;
    margin: auto;
    line-height: 1.9;
    color: black;
    font-size: 18px;
    letter-spacing: 1.6px;
    transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
}

.details {
    border-bottom: 1px solid #000000;
    padding: 10px 0;
}

.summary {
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    outline: none;
    transition: 0.5s;
}

.summary:hover {
    background: rgb(254, 249, 249);
    background: linear-gradient(90deg, rgba(254, 249, 249, 1) 0%, rgba(218, 216, 216, 1) 48%, rgba(238, 230, 230, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

/*----------------------------GEO-CONTATOS----------------------------*/
/*----------------------------GEO-CONTATOS----------------------------*/
/*----------------------------GEO-CONTATOS----------------------------*/
/*----------------------------GEO-CONTATOS----------------------------*/
#geo-contatos {
    width: 100%;
    background-color: black;
}

.geo-1-contatos {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
}

.geo-contatos-texto {
    width: 40%;
    margin: auto;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
a{
    text-decoration: none;
    width: 100%;
}
.geo-contatos-texto button {
    background-color: #000000;
    padding: 20px;
    font-size: 25px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: left;
    border-left: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.whatsapp {
    background-color: #000000;
}

.whatsapp:hover {
    background-color: #25D366;
    border: none;
    border-radius: 10px;
}


.insta a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
}

.insta:hover {
    background-image: linear-gradient(45deg,
            #405DE6, #5B51D8, #833AB4, #C13584,
            #E1306C, #FD1D1D, #F56040, #FCAF45, #FFDC80);
    border: none;
    border-radius: 10px;
}


.geo-contatos-img {
    width: 40%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.geo-contatos-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.geo-1-contatos-p {
    font-size: 30px;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 30px;
    margin-bottom: 20px;
}

/*----------------------------FOOTER----------------------------*/
/*----------------------------FOOTER----------------------------*/
/*----------------------------FOOTER----------------------------*/
/*----------------------------FOOTER----------------------------*/

.footer {
    width: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer-content {
    width: 80%;
}

.ultimo {
    width: 80%;
    border: 2px solid yellow;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ultimo ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    display: flex;
    padding: 0;
}

.ultimo ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.5s;
}

.ultimo ul li a:hover {
    color: rgb(173, 167, 167);
}

.endereco {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.end-1,
.end-2 {
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}

.icons {
    width: 100%;
    margin-top: 20px;
}

.icon {
    width: 80%;
    gap: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}