* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

.body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*-----------------HEADER-------------*/
/*-----------------HEADER-------------*/
/*-----------------HEADER-------------*/

.hea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hea p {
    font-size: 20px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 300;
}

.hea a:hover::after {
    content: none;
}

.header {
    width: 100vw;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin-bottom: 50px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header-1 {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1 a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    margin-right: 1rem;
    position: relative;
}

.divide {
    height: 50px;
    width: 2px;
    background-color: #ffffff;
    margin: 0 1rem;
}

.header-1 a::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.header-1 a:hover::after {
    width: 100%;
}

.login {
    margin-left: 2rem;
}

.login svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #ffffff;
}

.header-1 img {
    width: 3rem;
    height: auto;
    margin-right: 0.5rem;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
}

.nav-links {
    display: flex;
    gap: 40px;
    text-align: center;
    height: auto;
}


/*-----------------MEDIA-QUERIE -- HEADER -- RESPONSIVE-------------*/
/*-----------------MEDIA-QUERIE -- HEADER -- RESPONSIVE-------------*/
/*-----------------MEDIA-QUERIE -- HEADER -- RESPONSIVE-------------*/

@media (max-width: 768px) {
    .header-1 {
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 999;
        gap: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        padding: 1rem;
        text-align: center;
        margin: 0;
    }

    .menu-toggle {
        display: flex;
    }

    .hea {
        flex-grow: 1;
        justify-content: center;
    }

    .login {
        margin-left: 0;
    }

    .divide {
        display: none;
    }
}


/*-------------------BODY------------------------*/
/*-------------------BODY------------------------*/
/*-------------------BODY------------------------*/


.primeiro-cta {
    transform: translate(13%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 300px;
    margin-bottom: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.style-p {
    text-align: center;
    color: white;
    font-size: 50px;
    letter-spacing: 1.5px;
}


/*-----------------MEDIA-QUERIE -- BODY -- RESPONSIVE-------------*/
/*-----------------MEDIA-QUERIE -- BODY -- RESPONSIVE-------------*/

@media (max-width: 768px) {
    .primeiro-cta {
        text-align: center;
    }

    .style-p {
        font-size: 32px;
    }
}

/*-----------------GEORREFERENCIAMENTO-------------*/
/*-----------------GEORREFERENCIAMENTO-------------*/
/*-----------------GEORREFERENCIAMENTO-------------*/


.button {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: auto;
    color: white;
    padding: 30px 45px;
    letter-spacing: 1.8px;
    font-size: 1.0rem;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    text-decoration: none;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) scale(1.05);
}

/*-----------------MEDIA-QUERIE -- GEORREFERENCIAMENTO -- RESPONSIVE-------------*/
/*-----------------MEDIA-QUERIE -- GEORREFERENCIAMENTO -- RESPONSIVE-------------*/

@media (max-width: 768px) {
    .button {
        padding: 16px 20px;
        text-align: center;
    }
}


/*----------------------------INDEX-CARDS----------------------------*/
/*----------------------------INDEX-CARDS----------------------------*/
/*----------------------------INDEX-CARDS----------------------------*/
/*----------------------------INDEX-CARDS----------------------------*/

.index-card {
    width: 100%;
    background-color: black;
    padding: 0 20px;
}

.index-card-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.index-card-p {
    text-align: center;
    padding-top: 30px;
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
}

.index-card-1 {
    width: 45%;
    height: 300px;
    margin-bottom: 20px;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}


.index-card-1:hover img {
    transform: scale(1.2);
}

.index-card-texto {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 40px;
    letter-spacing: 2.5px;
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}



/*-----------------MEDIA-QUERIE -- INDEX CARDS -- RESPONSIVE-------------*/
/*-----------------MEDIA-QUERIE -- INDEX CARDS -- RESPONSIVE-------------*/

@media (max-width: 768px) {
    .index-card-pai {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .index-card-1 {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }

    .index-card-p {
        margin-bottom: 50px;
        padding-top: 50px;
    }
}


/*--------------MISSÃO-------------*/
/*--------------MISSÃO-------------*/
/*--------------MISSÃO-------------*/

.missao {
    width: 100%;
    background-image: url(../img/imagem.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.missao::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    z-index: 1;
}

.missao-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.missao-content-missao {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    border: none;
    text-align: left;
}

.index-tecnologia-content {
    width: 80%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


/*-----------------MEDIA-QUERIE -- MISSAO -- RESPONSIVE-------------*/
/*-----------------MEDIA-QUERIE -- MISSAO -- RESPONSIVE-------------*/

@media (max-width: 768px) {
    .missao {
        height: auto; 
        padding: 50px 0; 
    }

    .missao-content {
        flex-direction: column; 
        align-items: center; 
    }

    .missao-content-missao {
        font-size: 16px; 
        text-align: center; 
        margin-bottom: 20px; 
    }

    .missao-content-missao h1 {
        font-size: 22px; 
    }
}

/*----------------------------TECNOLOGIAS----------------------------*/
/*----------------------------TECNOLOGIAS----------------------------*/
/*----------------------------TECNOLOGIAS----------------------------*/
/*----------------------------TECNOLOGIAS----------------------------*/

.index-tecnologia {
    width: 100%;
    background-image: url(../img/servicos-drone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    height: 80vh;
}

.index-tecnologia::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.3;
}

/*----------------------------FOOTER----------------------------*/
/*----------------------------FOOTER----------------------------*/
/*----------------------------FOOTER----------------------------*/
/*----------------------------FOOTER----------------------------*/

.footer {
    width: 100%;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer-content {
    width: 80%;
}

.ultimo {
    width: 80%;
    border: 2px solid yellow;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ultimo ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    display: flex;
    padding: 0;
}

.ultimo ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.5s;
}

.ultimo ul li a:hover {
    color: rgb(173, 167, 167);
}

.endereco {
    margin-top: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.end-1,
.end-2 {
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}

.icons {
    width: 100%;
    margin-top: 20px;
}

.icon {
    width: 80%;
    gap: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------MEDIA QUERIES-------------------*/
/*---------------------MEDIA QUERIES-------------------*/
/*---------------------MEDIA QUERIES-------------------*/